<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Recommandations</title>
</head>
<body>
    <h1>Articles Recommandés</h1>
    <ul>
        {% for item in recommendations %}
            <li>{{ item.product_name }} (ID: {{ item.product_id }}, Note: {{ item.rating }})</li>
        {% endfor %}
    </ul>
    <a href="/submit_number">Retour</a>
</body>
</html>
